html {
    height: 100vh;
}

body {
    background-color: #819999;
    align-items: center;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1, 
p,
ul {
    margin: 0;
}

ul {
    display: table;
    list-style: none;
    padding: 0;
}

li:last-child,
li:first-child {
    background-color: #ffffff;
}

li {
    display: table-cell;
    border: 1px solid gray;
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    font-size: 1rem;
    text-align: center;
}

.quiz-block {
    display: flex;
    flex-flow: column;
    background-color: #e0e0e0;
    width: 50rem;
    height: 40rem;
    margin: 60px auto 0 auto;
    border-radius: 8px;
}

/* Main paige */
.test-name {
    width: 90%;
    margin: 30px 5% 0 5%;
    background-color: #ffffff;
}

.score {
    display: inline-flex;
    flex-flow: row;
    padding: 20px 27px 20px 50px;
    margin-left: calc(50rem - 230px);
    text-align: end;
}

#counter {
    font-size: 40px;
    color: #ebb626;
    padding-top: 5px;
    width: 100px;
}

#face {
    height: 50px;
    width: 50px;
    font-size: 50px;
}

/* Top of the main section */
.top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.top,
.middle {
    background-color: #ffffff;
}

/* Middle of the bottom section */
.middle {
    height: calc(40rem - 50px);
}

.grid {
    flex-flow: column;
    width: 25.5rem;
    margin: 40px 0px 10px 350px;
    border: 2px solid #62c4bb;
    background-color: #ffffff;
}

.plain_grid {
    display: flex;
    flex-flow: column;
}

.row {
    display: inline-flex;
    flex-flow: row;
    text-align: center;
    margin: auto;
}

.notTested {
    background-color: lightgray;
}

.doNotDisplay {
    background-color: #ffffff;
}

.success {
    background-color: #79ab3c;
    color: black;
}

.fail {
    background-color: red;
}

.previousFail {
    background-color: yellow;
}

/* Problem solving */
.problem {
    display: flex;
    /* display: none; */
    flex-flow: row;
    width: 150px;
    font-size: 65px;
    margin: 60px auto 0 auto;
}

.sum {
    margin: auto 10px auto auto;
    padding-top: 30px;
    align-content: center;
}

.num {
    width: 100px;
    text-align: right;
}

.num p:nth-of-type(2) {
    border-bottom: 3px solid black;
}

.answer {
   display: inline-flex; 
   flex-flow: row;
}

.correct-answer {
    color: black;
    width: 150px;
    font-size: 65px;
    text-align: right;
    margin-left: 325px;
}

.hint {
    color: lightgray;
    width: 150px;
    font-size: 65px;
    text-align: right;
    margin-left: 325px;
}

.mistake {
    color: red;
    text-decoration: line-through;
    font-size: 38px;
}

.timer {
    position: end;
    width: 250px;
    align-items: center;
    margin: 20px auto;
    text-align: center;
}

.timer > p {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: gray;
}

.timer > .red {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: red;
}

/* Bottom of the main section */
.bottom {
    height: 50px;
    border-top: 2px solid lightgray; 
    padding-top: 10px;
}

#btn-box {
    /* display: none; */
    background-color: #ffffff;
    border: 1px solid lightgray;
    border-radius: 8px;
    width: 90px;
    padding: 2px;
    text-align: center;
    margin: auto;
}

.btn {
    background-color: #79ab3c;
    height: 30px;
    width: 88px;
    border-radius: 8px;
    padding: 0;
    margin: auto;
    font-size: 14px;
    color: #ffffff;
}

.hidden {
    display: none;
}